<div class="main-container">
    <div class="main-wrapper">
        <h2 class="title">Suggestions</h2>
         <form action='/' method="POST"></form>
            {{#each suggestions}}
            <div class="user">
                    <span class="day">
                        <button type="submit" class="days-button">
                            {{product_name}}
                        </button>
                    </span>
            {{/each}}
            </div>
        </div>
    </form>
    </div>
</div>