<div class="main-container">
    <div class="main-wrapper">
        <label class="errors error">{{error}}</label>
        <label class="errors success">{{success}}</label>
        <h2 class="title">Suggestions</h2>
            {{#each suggestions}}
            <div class="user">
                <a href="/">
                    <span class="day">
                        {{area_name}}
                    </span>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>